<!doctype html>
<html>
<head>
    <title>Baby Daily Log</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="body">
<div class="container">

    <div class="page-header text-center">
        <h2 class="header"><span></i></span>Baby Daily Log</h2>
        <a href="/logout" class="logout">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <!-- <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %> -->

            </div>
        </div>
        <div class="col-sm-7">
          <h3>Daily Log</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li <%= messages[i].priority ? 'class = flag' : 'class = noFlag' %>>
              <span><%= messages[i].name %></span>
              <span>I woke up at: <%= messages[i].msg %></span>
              <span>I Slept: <%= messages[i].sleep %></span>
              <span>I was last fed: <%= messages[i].feed %></span>
              <span>Notes/ Instructions for the day: <%= messages[i].instructions %></span>
              <span><i class="fa fa-trash-o" aria-hidden="true"></i></span> 
              <!-- <span><i class="fa fa-comment" aria-hidden="true"></i></span>  -->
              <span><i class="fa fa-flag" aria-hidden="true"></i></span> 
              <!-- <span <%= messages[i].heart ? 'class = heart' : 'class = noHeart' %>><i class="fa fa-heart" aria-hidden="true"></i></span>  -->
            </li>
          <% } %>
         
          </ul>
   </div>


          <h2>Log</h2>
        <% if (user.local.email) { %>
          <form class="form" action="/messages" method="POST">
            <label for="baby">Name: </label>
            <input for="baby" type="text" placeholder="name" name="name">

            <label for="wakeUp">I woke up at: </label>
            <input type="time" placeholder="Wake up time" name="msg">

            <label for="sleep"> I slept at:</label>
            <input type="time" placeholder="The baby slept...." name="sleep">

            <label for="feed">Last Feed:</label>
            <input for="feed" type="text" placeholder="Last feed..." name="feed">

            <label for="instructions">Instructions for the day: </label>
            <input for="instructions" type="text" placeholder="Insructions for the day..." 
            name="instructions">
            
            <button type="submit">Submit</button>
          </form>
     
        <% } %>
</div>

















<script src="main.js"></script>

</body>
</html>











            <!-- 
              name
              I woke up at:
              I slept:
              I was last fed at:
              Meals/Feeds
              Diaper: Wet/BM
              Nap start and end
              activites 
              items need:
              notes:
             -->
